 ::-webkit-scrollbar {
                width: 0px;
            }

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius: 0px;
}

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
/*////////////////////Angular Loading Fixed ng-cloak//////////////////////////////////*/
[ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important
}
/*////////////////////Angular Loading Fixed with ng-cloak //////////////////////////////////*/
html{
    -webkit-user-select: none;
    -webkit-touch-callout: none;  
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
body{
 background-color: #FFFFFF; 
}
.menu {
  /*this is the nav*/
  background: #3c3933;
  width: 240px;
  height: 100%;
  top: 0;
  position: fixed;
  left: -240px;
}
.menu a {
  display: block;
  /* drops the nav vertically*/
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  padding: 14px;
}
.push-left {
  left: 0;
}
.bodypush {
  overflow-x: hidden;
  position: relative;
  left: 0;
}
.pushmenu-push-toright {
  left: 240px;
}
/*Transition*/

.menu,
.bodypush {
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  transition: all 0.3s ease;
}


.headerhome {
            position: fixed;
            margin:0 auto;
            width:100%;
       }
#headertable {
    position: fixed;
    top: 50px;
    left: 0;
    right: 0;
    padding:0px;    
    font-size:17px;
    background-color:white;
}
#tablebody{
    margin-top:125px;
    left: 0;
    right: 0;
    padding:0px;
}
#loader {
    position:fixed;
    top: 50%;
    left: 38%;
    width:80px;
    height:80px;
    opacity: 0.7;
    text-align:center;
}
#loaderbackground
{
    position:fixed;
    top: 126px;
    left: 0;
    bottom:0;
    width:100%;
    height:100%;
    background-color:#FFFFFF;
     /*rgba(249, 249,249, 0.4);*/
}
.icon-bar{
    background-color:white;
}
.navbar-toggle{
    background-color:black;
}